* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);


}

.left {
    list-style-type: none;
    cursor: pointer;
}

.left:hover {
    color: rgb(220, 87, 87);
}

nav ul {
    display: flex;
    justify-content: center;


}

nav ul li {
    list-style-type: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(220, 87, 87);
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;

}

.leftSection .btn {
    padding: 12px;

}

.rightSection img {
    width: 75%;
    margin: 200pxpx 0;

}

.purple {
    color: rgb(150, 94, 202);
}

.text-gray {
    color: gray;


}

#element {
    color: gold;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;

}

.secondSection h1 {
    font-size: 1.9rem;


}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
    font-size: 12px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 100px;
    font-size: 0.2rem;
}

.footer {
    background-color: #0e0e1a;
}

.footer {
    display: flex;
    padding: auto;
    justify-content: center;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

.footer-second {
    justify-content: space-between;
    cursor: pointer;
}


.btn {
    cursor: pointer;
}

footer .footer-rights {
    color: gray;
    text-align: center;
    padding: 12px 0;
}

.thirdsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;

}

.heducation{
    padding: 12px 0;
}

.ceducation{
    padding: 12px 0px;;
}